{% extends "base.html.twig" %}

{% block title %}
  Movies Page
{% endblock %}



{% block body %}
{{ author }}
{{ _self }}
{{ _charset }}
{% for movie in movies %}
  <li>{{ movie }}</li>
{% endfor %}
{% endblock %}